<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot" default="sphero"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="true"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sphero_gazebo)/worlds/desert.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- spawn static map server -->
  <node pkg="map_server" type="map_server" name="map_server" respawn="true" args="$(find sphero_nav_glue)/config/map_tpnavstack.yaml">
    <param name="frame_id" value="map" />
  </node>

  <!-- spawn static transform from map to odom frame -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" respawn="true" args="0 0 0 0 0 0 /map /odom_frame 1000" />

  <!-- Launching everything needed per sphero robot -->
  <group ns="sphero1">
    <!-- spawn the robot in gazebo and it's corresponding driver/control nodes -->
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="1" />
      <arg name="x" value="1.0" />
      <arg name="y" value="1.0" />
    </include>

    <!-- load ROS navigation planners -->
    <arg name="base_global_planner" default="navfn/NavfnROS"/>
    <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/>

    <!-- load ROS navigation core node -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_global_planner" value="$(arg base_global_planner)"/>
      <param name="base_local_planner" value="$(arg base_local_planner)"/>  
      <param name="clearing_rotation_allowed" value="false"/>  
      <rosparam file="$(find sphero_nav_glue)/config/planner.yaml" command="load"/>

      <rosparam file="$(find sphero_nav_glue)/config/costmap_common.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find sphero_nav_glue)/config/costmap_common.yaml" command="load" ns="local_costmap" />

      <!-- local costmap, needs size -->
      <rosparam file="$(find sphero_nav_glue)/config/costmap_local.yaml" command="load" ns="local_costmap" />

      <!-- static global costmap, static map provides size -->
      <rosparam file="$(find sphero_nav_glue)/config/costmap_global_static.yaml" command="load" ns="global_costmap" />
    </node>
  </group>

<!--
  <group ns="sphero2">
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="2" />
      <arg name="x" value="0.5" />
      <arg name="y" value="0.5" />
    </include>
  </group>
-->
</launch>
