<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot" default="sphero"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="true"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sphero_gazebo)/worlds/desert.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Launching the sphero robots -->
  <group ns="sphero1">
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="1" />
      <arg name="x" value="1.0" />
      <arg name="y" value="1.0" />
    </include>
  </group>

<!--
  <group ns="sphero2">
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="2" />
      <arg name="x" value="0.5" />
      <arg name="y" value="0.5" />
    </include>
  </group>
-->
</launch>
